<div class="city-data">
    @if(loading()){
        <div class="status-message">Loading city data...</div>   
    } @else if (error()){
        <div class="status-message">Error retrieving city data</div>  
    } @else {

    
    <h2>More info about {{ cityData().geolocation.cityName || 'Unknown City' }}</h2>
    <p>
        {{ cityData().blurb }} 
        <a class="learn-more" [href]="cityData().learnMoreUrl" target="_blank" rel="noopener noreferrer">
            Wikipedia
        </a>
    </p>
    <dl>
        <dt>Population</dt>
        <dd>{{ cityData().population | number }}</dd>

        <dt>Country</dt>
        <dd>{{ countryEmoji() }}</dd>

        <dt>Timezone</dt>
        <dd>{{ cityData().geolocation.timezone }}</dd>

        <dt>Coordinates</dt>
        <dd>
            <a [href]="googleMapsUrl()" target="_blank" rel="noopener noreferrer">  
                {{ cityData().geolocation.coordinates.latitude }}, {{ cityData().geolocation.coordinates.longitude }}
            </a>
        </dd>
    </dl>
    }
</div>
